@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");

:root {
  --mainTextColor-light: #000;
  --secondaryTextColor-light: rgb(51 51 51);
  --mainLinkColor-light: #0da2b8;
  --mainBorderColor-light: rgb(218, 218, 218);
  --mainBgColor-light: rgb(249, 250, 251);
}

* {
  font-family: "Readex Pro";
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--mainTextColor-light);
}

body {
  background-color: var(--mainBgColor-light);
}

p,
span,
li {
  color: var(--secondaryTextColor-light);
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--mainLinkColor-light);
  font-size: 500;
}

li {
  line-height: 1.9em;
}

.container--main {
  max-width: 700px;
  margin: 0 auto;
}

.section--page {
  padding-top: 1em;
  padding-bottom: 1em;
}

#wrapper--hero {
  display: flex;
  align-items: center;
  gap: 4em;
}

#bio,
a {
  font-size: 1.5em;
  font-weight: 300;
}

#user-name {
  font-size: 2.5em;
  line-height: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

#profile--pic {
  border-radius: 50%;
  width: 230px;
  height: 250px;
  object-fit: cover;
}

#email {
  color: var(--mainTextColor-light);
}

#socials--list {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  flex-wrap: wrap;
}

#socials--list a {
  font-size: 0.9em;
  color: var(--secondaryTextColor-light);
  transition: 0.45s;
}

#socials--list a:hover {
  color: cyan;
}

#qualifications--list {
  list-style: none;
}

#wrapper--techstack__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 00.9em;
}

.card--techstack {
  border: 1px solid #000;
  padding: 0.5em 1em;
  border-radius: 7px;
}

.card--work-history {
  border-left: 1px solid rgb(171, 174, 174);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.line-break {
  background-color: rgb(171, 174, 174);
  height: 0.5px;
}

.card--project {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid var(--mainLinkColor-light);
}

.card--project a {
  color: var(--mainTextColor-light);
  transition: 0.35s;
}

.card--project a:hover {
  color: var(--mainLinkColor-light);
}

@media (max-width: 600px) {
  #wrapper--hero {
    flex-direction: column;
  }

  #profile-pic {
    width: 200px;
    height: 200px;
  }
  .section--page {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .card--work-history {
    border-left: none;
    padding-left: 0;
  }
}
